:root {
    --rock: url(images/rock.svg);
    --paper: url(images/paper.png);
    --scissors: url(images/scissors.png);
    --intg: url(images/interrogation.gif)
}

body{
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    /* font-family: 'Indie Flower', cursive; */
}

.title {
    text-align: center;
    color: white;
    font-size: 4rem;
    width: 100%;
}

.bt-title {
    background-color: black;
    border: 1px solid white;
    border-radius: 14px;
    cursor: pointer;
    margin: 0 auto;
    width: 16rem;
}

.game {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.divisor {
    color: #fff;
    font-size: 12rem;
    text-align: center;
    width: 10%;
}

.player1 {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player1 .player {
    background: url(https://www.seekpng.com/png/detail/506-5061704_cool-profile-avatar-picture-cool-picture-for-profile.png) no-repeat;
    background-size: cover;
    width: 40%;
    height: 30vh;
    margin-left: 5vw;
    border-radius: 20px;
}

.player1 .play {
    background: var(--intg) no-repeat;
    background-size: contain;
}

.player2 {
    width: 40%;
    display: flex;
    align-items: center;
}

.player2 .play {
    background: var(--intg) no-repeat;
    background-size: contain;
}


.play {
    opacity: 0;
    width: 35%;
    height: 20vh;
}
.player2 .player {
    background: url(https://c.tenor.com/uQNoWGXo9VwAAAAd/profile-picture-discord.gif) no-repeat;
    background-size: cover;
    width: 40%;
    height: 30vh;
    margin-left: 5vw;
    border-radius: 20px;
}

.choices {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease;
}

.choice {
    /* background: white; */
    width: 10%;
    height: 20vh;
    border-radius: 14px;
    border: 2px solid white;
    transition: all 0.2s ease-in-out;
}

.choice:hover {
    border: 2px solid #000;
}

.rock {
    background: var(--rock) no-repeat;
    background-size: contain;
    filter: invert(1);
    pointer-events: none;
    margin-right: 1rem;
}

.paper {
    background: var(--paper) no-repeat;
    background-size: contain;
    filter: invert(1);
    pointer-events: none;
}

.scissors {
    background: var(--scissors) no-repeat;
    background-size: contain;
    filter: invert(1);
    pointer-events: none;
    margin-left: 1rem;
}

.result {
    opacity: 0;
    position: absolute;
    border: none;
    border-radius: 14px;
    top: 50%;
    left: 50%;
    width: 1vw;
    height: 1vh;
    transition: width 1s, height 1s, top 1s, left 1s;
}

.reset {
    background-color: black;
    border: 3px solid white;
    border-radius: 14px;
    box-shadow: 2px 2px 8px;
    color: white;
    cursor: default;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    position: absolute;
    top: 82vh;
    left: calc(82vw - 4rem);
    width: 8rem;
    height: 4rem;
    transition: opacity 7s, width 1s, height 1s, font-size 1s, top 1s, left 1s;
}

.reset:hover {
    width: 9rem;
    height: 5rem;
    font-size: 22px;
    top: 81vh;
    left: calc(81vw - 4rem);
}
