:root {
    --rock: url(https://upload.wikimedia.org/wikipedia/commons/2/2a/Fist.svg);
    --paper: url(https://images.vexels.com/media/users/3/158033/isolated/lists/ff6f06ccc5444b31090f5dc56279d1ef-hand-palm-silhouette-icon.png);
    --scissors: url(https://freesvg.org/img/Comic-Hand-Peace-Sign.png);
    --intg: url(images/interrogation.gif)
}

body{
    background: url(https://www.teahub.io/photos/full/97-977563_abstract-gaming-background.jpg) no-repeat;
    background-size: cover;
}

.title {
    text-align: center;
    color: white;
    font-size: 4rem;
}

.game {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
}

.divisor {
    color: #fff;
    font-size: 12rem;
    text-align: center;
    width: 10%;
}

.player1 {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player1 .player {
    background: url(https://www.seekpng.com/png/detail/506-5061704_cool-profile-avatar-picture-cool-picture-for-profile.png) no-repeat;
    background-size: cover;
    width: 40%;
    height: 30vh;
    margin-left: 5vw;
}

.player1 .play {
    background: var(--intg) no-repeat;
    background-size: contain;
    color: white;
    font-size: 3rem;
    filter: invert(1);
    width: 35%;
    height: 20vh;
}

.player2 {
    width: 40%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.player2 .play {
    background: var(--intg) no-repeat;
    background-size: contain;
    color: white;
    filter: invert(1);
    font-size: 3rem;
    width: 35%;
    height: 20vh;
}

.player2 .player {
    background: url(https://c.tenor.com/uQNoWGXo9VwAAAAd/profile-picture-discord.gif) no-repeat;
    background-size: cover;
    width: 40%;
    height: 30vh;
    margin-left: 5vw;
}

.choices {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid red;
}

.choice {
    /* background: white; */
    width: 10%;
    height: 20vh;
}

.rock {
    background: var(--rock) no-repeat;
    background-size: contain;
    border: 1px dashed blue;
    filter: invert(1);
}

.paper {
    background: var(--paper) no-repeat;
    background-size: contain;
    border: 1px dashed blue;
    filter: invert(1);
}

.scissors {
    background: var(--scissors) no-repeat;
    background-size: contain;
    border: 1px dashed blue;
    filter: invert(1);
}
